server:
  port: 0

spring:
  application:
    name: auth-service

  cloud:
    config:
      enabled: false
    discovery:
      enabled: true

  datasource:
    url: jdbc:h2:mem:userdb
    driverClassName: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    defer-datasource-initialization: true
    show-sql: true

  sql:
    init:
      mode: always

  h2:
    console:
      enabled: true

jwt:
  secret: c2VjcmV0LW15LWtleS1zaG91bGQtYmUtMzItYnl0ZXMtYmFzZTY0IQ==

userservice:
  url: http://user-service/

internal:
  token: 12345-mi-token-interno-compartido

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

  instance:
    instance-id: ${spring.application.name}:${random.uuid}

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html